<h1>Welcome to Our Store</h1>

<!-- Search Form -->
<%= form_with url: root_path, method: :get, local: true do %>
  <div class="form-group">
    <%= text_field_tag :keyword, params[:keyword], placeholder: "Search for products...", class: "form-control" %>
    <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), include_blank: "All Categories", class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary mt-2" %>
  </div>
<% end %>

<div class="products">
  <% @products.each do |product| %>
    <div class="product">
      <%= link_to product.name, product_path(product) %>

      <% # Display the first attached image for the product %>
      <% if product.product_images.any? %>
        <% first_image = product.product_images.first.image %>
        <%= image_tag rails_blob_url(first_image, only_path: true), class: 'product-img' %>
      <% else %>
        <%= image_tag 'placeholder_image.jpg', class: 'product-img' %>
      <% end %>

      <p><%= number_to_currency(product.price) %></p>
    </div>
  <% end %>
</div>

<!-- Pagination Links -->
<div class="pagination">
  <%= paginate @products %>
</div>
