<div class="invoice">
  <h4>Invoice</h4>
  <ul>
    <% @order.order_items.each do |item| %>
      <li><%= item.product.name %> - <%= number_to_currency(item.price_at_purchase) %> x <%= item.quantity %></li>
    <% end %>
  </ul>
  <p><strong>Subtotal:</strong> <%= number_to_currency(@order.subtotal) %></p>
<p><strong>GST:</strong> <%= number_to_currency(@order.gst) %></p>
<p><strong>PST:</strong> <%= number_to_currency(@order.pst) %></p>
<p><strong>HST:</strong> <%= number_to_currency(@order.hst) %></p>
<p><strong>Total:</strong> <%= number_to_currency(@order.total_amount) %></p>

</div>
