<h1><%= @category.name %></h1>

<% if @casual_shoes.present? %>
  <ul>
    <% @casual_shoes.each do |product| %>
      <li>
        <% if product.product_images.any? %>
          <% image = product.product_images.first.image %>
          <% if image.attached? %>
            <%= link_to image_tag(rails_blob_url(image, only_path: true), alt: product.name), product_path(product) %>
          <% else %>
            <%= link_to image_tag('default_image.jpg', alt: 'Default Image'), product_path(product) %>
          <% end %>
        <% else %>
          <%= link_to image_tag('default_image.jpg', alt: 'Default Image'), product_path(product) %>
        <% end %>
        <h3><%= link_to product.name, product_path(product) %></h3>
        <p><%= product.description %></p>
        <p>Price: <%= number_to_currency(product.price) %></p>
        <p>Stock: <%= product.stock_quantity %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No casual shoes available.</p>
<% end %>
