<div class="product-page">
  <div class="product-images">
    <div class="main-image">
      <% if @product.product_images.any? %>
        <%= image_tag rails_blob_url(@product.product_images.first.image, only_path: true), alt: @product.name, class: 'main-image' %>
      <% else %>
        <%= image_tag 'placeholder_image.jpg', alt: 'Placeholder Image', class: 'main-image' %>
      <% end %>
    </div>
    <div class="thumbnail-images">
      <% @product.product_images.each do |image| %>
        <%= image_tag rails_blob_url(image.image, only_path: true), class: 'thumbnail', alt: @product.name %>
      <% end %>
    </div>
  </div>

  <div class="product-details">
    <h2 class="product-name"><%= @product.name %></h2>
    <p class="product-description"><%= @product.description %></p>
    <div class="product-price">
      <span class="current-price"><%= number_to_currency(@product.price) %></span>
    </div>

    <!-- Form to add the product to the cart -->
    <%= form_with(url: cart_cart_items_path(current_user.current_cart), method: :post, local: true) do |form| %>
      <%= form.hidden_field :product_id, value: @product.id %>
      <div class="quantity-selector">
        <button type="button" class="quantity-btn minus-btn">-</button>
        <%= form.number_field :quantity, min: 1, value: 1, id: 'quantity-field' %>
        <button type="button" class="quantity-btn plus-btn">+</button>
      </div>
      <%= form.submit "Add to Cart", class: 'add-to-cart-btn' %>
    <% end %>
  </div>
</div>
